<link rel="stylesheet" href="/css/style.css">
  <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                        <span class="title">GrandGusto</span>
                    </a>
                </li>

                <li>
                    <a href="/administracion">
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Bebidas</span>
                    </a>
                </li>

                <li>
                    <a href="/alimentos">
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Alimentos</span>
                    </a>
                </li>

                <li>
                    <a href="/postres">
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Postres</span>
                    </a>
                </li>

                <li>
                    <a href="/add-inventory">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Inventario</span>
                    </a>
                </li>

                <li>
                    <a href="/seal">
                        <span class="icon">
                            <ion-icon name="card-outline"></ion-icon>
                        </span>
                        <span class="title">Gastos</span>
                    </a>
                </li>

                <li>
                    <a href="/login">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Regresar</span>
                    </a>
                </li>
            </ul>
        </div>