<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa</title>
    <link rel="stylesheet" href="/css/styles_admin.css">
</head>
<body>
<%-include('partials/menu.ejs')%>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>

        <div class="font-weight">
            <h2>Inventario</h2>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATFJREFUSEvtluENgjAQhe9wEOsmSBykTqJMYgcxyCYW97CnbU2EqnC1GGL0fsLlvr7jAQ9hosKJuMAGy0Js3SEzqNVe1+0Dy5XIwUBur6lK+76BigDPyc/CMhzuD0UbD25YM1lNdqAsPgyWuRCQmQ0AyqF1Me5rAKrBZKWqtW73PyiWxfx43ZhgDI1p0apqFi/B3iR0iJnI7s1w2TZlR3EA1kDQWQ8b0pXm3A5scND4DrQj5GvAzuVIuyjFMyzt80xS/JbhbmtNB5/9V4ldhGv73iaB2bAnjd8J7jOXOjTLvo0kKe4z19CfKB38wlwfVfx75vorjtlAkqtjQGEvH+zyFtnoM34ZXLRz15PMdY+q49FJqeq07g179qZPmi6gp4c+AypMmJbBztXjqfeTJgNfAI3tWC6ad7HIAAAAAElFTkSuQmCC"/>
        </div>

        <div class="user">
            <img src="/img/image.png" alt="">
        </div>
    </div>


    <div class="content">
    <form id="form-action">
    <div>
        <label for="codigo">Codigo:</label>
        <input type="text" id="codigo" required placeholder="Codigo de barras">
    </div>
    <div>
        <label for="producto">Producto:</label>
        <input type="text" id="producto" name="producto" required placeholder="Nombre">
    </div>
    <div>
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" required placeholder="Paquete o Unidad">
    </div>
    <div>
        <label for="entrada">Stock Inicial:</label>
        <input type="number" id="entrada" name="entrada" placeholder="Cantidad Inicial" required>
    </div>
    <div>
        <label for="salida">Salida:</label>
        <input type="number" id="salida" name="salida" placeholder="Salida" required>     
    </div>
    <div>
        <label for="cantidadStock">Total:</label>
        <input type="number" id="cantidadStock" name="cantidadStock" placeholder="Cantidad en Stock" disabled required>
    </div>
    <div>
        <button id="subir" style="width: 100px;">Agregar</button>
    </div>
    </form>
    </div>

    <div id="formulario-edicion">
        <h2>Editar Producto</h2>
        <form id="form-edit">
        <div>
            <label for="codigoedit">Codigo:</label>
            <input type="text" id="codigoedit" disabled>
        </div>

        <div>
            <label for="productoedit">Producto:</label>
            <input type="text" id="productoedit" required>
        </div>

        <div>
            <label for="descripcionedit">Descripcion:</label>
            <input type="text" id="descripcionedit" required>
        </div>

        <div>
            <label for="entradaedit">Entrada:</label>
            <input type="text" id="entradaedit" required>
        </div>

        <div>
            <label for="salidaedit">Salida:</label>
            <input type="text" id="salidaedit" required>
        </div>

        <div>
            <label for="cantidadStockedit">Cantidad en Stock:</label>
            <input type="number" id="cantidadStockedit" disabled required>
        </div>
            <button type="submit">Guardar</button>
            <button type="reset" class="none">Cancelar</button>
        </form>
    </div>
    
    <div class="search">     
    <h2 style="margin: 10px;">Productos Agregados</h2>
        <label>
            <input id="searchInput" type="text" placeholder="Busqueda por nombre">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>

    <div class="table-container">
    <table id="product-table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Stock Inicial</th>
                <th>Salida</th>
                <th>Total</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody id="product-list"></tbody>
    </table>
    </div>

</div>

</body>
<script type="module" src="/js/script-inventario.js"></script>
<%-include('partials/scripts-sidebar.ejs')%>
</html>
