<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa</title>
    <link rel="stylesheet" href="/css/styles_admin.css">
    <%-include('partials/menu.ejs')%>
</head>
<body>
<div class="main">
<div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    
    <div class="font-weight">
        <h2>Registro de Bebidas</h2>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATNJREFUSEvtl9FxgzAMhn9z2SPOJpDrIHSSpptokB6QSSo6Rw/1cMrVARMLEl/6gB5tyZ/125bA4ElmnsTFLLg82hKABcBUMfUb1I5pkpkHF/saBjkEDdVt4cDKsQ0cUmBe6hebu4BvMDXMTmrl2F1Sa4Lv8ZlkXObWYudu8yqjD240gVPwcS+awBs+TFV7iK1xBXZn2EkdC4rOZ6aIZZ4GLPiT25gzVXwabzYNeEzxitAwlQrMELgn6KpfbyP504B/IVd3ZgP79+DRz2mT2i8qaW51qLR15jB0ucsr8+xhZzwBC1H19eoPJwILAVnrQB3IzzRcufqWmMlntAnEHEayhtwDbdGeAHmLrT0/P5VVB3ZZo1wHN++hTqQCD05Lv0Ri/fdmW1wv7/LI//cLszyHZRE/O64JLjTNZ1EAAAAASUVORK5CYII="/>
    </div>

    <div class="user">
        <img src="/img/image.png" alt="">
</div>

</div>
        
    
    <div class="content">
        <form id="form-action">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
            </div>
    
            <div>
                <label for="descripcion">Descripción:</label>
                <textarea  id="descripcion" name="descripcion" rows="4" cols="50" placeholder="Descripcion"></textarea>
            </div>
    
            <div>
                <label for="imagen">Imagen:</label>
                <div class="file-input-wrapper">
                    <input type="file" id="imagen" name="imagen" accept="image/*">
                    <button>Seleccionar archivo</button>
                </div>
            </div>
            <div>
                <label for="costo">Costo:</label>
                <input type="number" id="costo" name="costo" min="0" step="0.01" required placeholder="Costo">
            </div>
            <div>
                <label for="precio_venta">Precio de Venta:</label>
                <input type="number" id="precio_venta" name="precio_venta" min="0" step="0.01" required placeholder="Precio Venta">
            </div>
            <div>
                <button id="subir">Guardar Producto</button>
            </div>
        </form>
    </div>


        <div id="formulario-edicion">
            <h2>Editar Producto</h2>
            <form id="form-edit"> 
            <div>
                <label for="nombreProducto">Nombre:</label>
                <input type="text" id="nombreProducto" disabled>                 
            </div>

            <div>
                <label for="descripcionedit">Descripcion:</label>
                <input type="text" id="descripcionedit" required>
            </div>

            <div class="form-edit-img">
                <label for="imagen">Imagen:</label>
                <img id="imagen-preview" src="" alt="Vista previa de la imagen" style="max-width: 200px;">
            </div>

            <div>
                <label for="costo">Costo:</label>
                <input type="number" id="costoedit" required>
            </div>

            <div>
                <label for="precioventa">Precio de Venta:</label>
                <input type="number" id="precioventa" required>
            </div>
                <button type="submit">Guardar</button>
                <button type="reset" class="none">Cancelar</button>
            </form>
        </div>

        <div class="search">
            <h2 style="margin: 10px;">Listado de Bebidas</h2>
            <label>
                <input id="searchInput" type="text" placeholder="Busqueda por nombre">
                <ion-icon name="search-outline"></ion-icon>
            </label>
        </div>

        <div class="table-container">
            <table id="product-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                        <th>Precio Venta</th>
                        <th>Imagen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="product-list"></tbody>
            </table>
        </div>

</div>
</body>
<script type="module" src="/js/script-administrador.js"></script>
<%-include('partials/scripts-sidebar.ejs')%>
</html>
