<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa</title>
    <link rel="stylesheet" href="/css/styles_admin.css">
    <%-include('partials/menu.ejs')%>
</head>
<body>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="font-weight">
            <h2>Registro de Alimentos</h2>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAaZJREFUSEvFluGRwiAQhd+mkBMrMWauD7ESvUqkkBtNJ5JGwh2YaBIILIkz8i/jrh9vd3lA+NCiD3HxdrAshVC11ilBq8HyW5Ro2wNAJQAxAGqAftRVq9AmVoFlJc6AOUXVGdQwdJxWYTFYVl8XgGSqpO53g1rdmv0wdjm4FAKFuU3KG9kHHYdlzwLbwUFh7sDjT7pvHnyimg1+QXtR+XB1bZ48PthNr7mMS5sHzwI7pf80O5WPoxOF32PDxgaPytvSNgYH2l1iyrW6Nttno2I7lNXGKniZQhSeOljOTM48cKi0S+FdXhQs95tb7zbBvvZwG0ewVplYY7U22JvqgQ1qtLSf76tRTOca9Tao2D+rSMBTSl/508iR4hnTn8KtU3GWRkFH9avr5O3kehvumYOjaE/c8sagox4HysxRFYqJKg33uNqYpbQujwX1ptozjLxdsKHvBGdBA2DGU8avQjZ0xkAm/hwr98x7itMh37nsNUjmkrZC3wY5wOQlISshYcwB5G6n7oayNlk0KFDPGQMXznqBcB/pXGiwxznJa2JZitcA5nL/ADVRDS44mUBiAAAAAElFTkSuQmCC"/>
        </div>

        <div class="user">
            <img src="/img/image.png" alt="">
        </div>
    </div>

    <div class="content">
        <form id="form-action">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
            </div>
    
            <div>
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" cols="50" placeholder="Descripcion"></textarea>
            </div>
    
            <div>
                <label for="imagen">Imagen:</label>
                <div class="file-input-wrapper">
                    <input type="file" id="imagen" name="imagen" accept="image/*">
                    <button>Seleccionar archivo</button>
                </div>
            </div>
    
            <div>
                <label for="costo">Costo:</label>
                <input type="number" id="costo" name="costo" min="0" step="0.01" required placeholder="Costo">
            </div>
            <div>
                <label for="precio_venta">Precio de Venta:</label>
                <input type="number" id="precio_venta" name="precio_venta" min="0" step="0.01" required placeholder="Precio Venta">
            </div>
            <div>
                <button id="subir">Guardar Producto</button>
            </div>
        </form>
        </div>
        
        <div id="formulario-edicion">
            <h2>Editar Producto</h2>
            <form id="form-edit">
            <div>
                <label for="nombreProducto">Nombre:</label>
                <input type="text" id="nombreProducto" disabled >
            </div>
            <div>
                <label for="descripcionedit">Descripcion:</label>
                <input type="text" id="descripcionedit" required>
            </div>
            <div class="form-edit-img">
                <label for="imagen">Imagen:</label>
                <img id="imagen-preview" src="" alt="Vista previa de la imagen" style="max-width: 200px;">
            </div>
            <div>
                <label for="costo">Costo:</label>
                <input type="number" id="costoedit" required>
            </div>
            <div>
                <label for="precioventa">Precio de Venta:</label>
                <input type="number" id="precioventa" required>
            </div>
                <button type="submit">Guardar</button>
                <button type="reset" class="none">Cancelar</button>
            </form>
        </div>

        <div class="search">
            <h2 style="margin: 10px;">Listado de Alimento</h2>
            <label>
                <input id="searchInput" type="text" placeholder="Busqueda por nombre">
                <ion-icon name="search-outline"></ion-icon>
            </label>
        </div>

        <div class="table-container">
            <table id="product-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                        <th>Precio Venta</th>
                        <th>Imagen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="product-list"></tbody>
            </table>
        </div>

</div>
</body>
<script type="module" src="/js/script-alimentos.js"></script>
<%-include('partials/scripts-sidebar.ejs')%>
</html>
