<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-Password</title>
    <%-include('partials/sweetalert2.ejs')%>
    <style>
        
    .swal2-popup.custom-swal-bg {
            background-color: rgba(255,234,193,1); /* Cambia este color al que desees */
            border-color: #5d5d5d; /* Cambia este color al que desees para el borde */
            color: #5b5b5b; /* Cambia este color al que desees para el texto */
    }

    br{
        color: black;
    }
    a{
        color:  rgb(255, 144, 144);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

        body, html {
            height: 100%;
            width: 100%;
        }
        body{
            background:  rgba(255,234,193,1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container{
            padding: 60px;
            color: #a1896d;
            width: 550px;
            text-align: center;
            background-color: #FFEAC1; 
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            & button{
                margin-top: 10px;
            }
            & input{
                border-color: rgb(170, 153, 108);     
                background-color: #FFEAC1;
                width: 420px;
                margin: 30px auto;
            }
            & h2{
                color: black;
                padding-top: 30px;
            }
            & .btn{
                color: rgb(225, 224, 224);
                width: 100px;
                background-color: #905835;
                border-color: #905835;
            }
            & span{
                color: #a1896d;
                margin-top: 10px;
            }
            & .container-img img{
                height: 100px;
            }
        .redirection{
            text-decoration: none;
            color: #a1896d;
        }
        .redirection:hover{
            color: white;
        }
        }
    </style>
    <script>
        function showAlert(errorMessage) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: errorMessage,
                footer: '<a href="#">Necesitas ayuda con el problema?</a>',
                customClass: {
                    popup: 'custom-swal-bg' // Aplica la clase personalizada para el fondo de la alerta
                },
                confirmButtonColor: '#905835'
            });
        }

        function showAlertSuccessfull(Message){
            Swal.fire({
                    icon: "success",
                    title: "Correo de restablecimiento enviado",
                    text: Message,
                    footer: '<a href="/#">Necesitas ayuda con el problema?</a>',
                    customClass: {
                    popup: 'custom-swal-bg' // Aplica la clase personalizada para el fondo de la alerta
                },
                confirmButtonColor: '#905835'
             }).then((result) => {
                    if (result.isConfirmed) {
                    window.location.href = "/login";
                    }
            });
        }
    </script>
</head>
<body>
    <form action="/forgot-password" method="post">
        <div class="container">
            <div class="container-img">
            <img src="/img/—Pngtree—steaming coffee cup silhouette_5658659.png" alt="">
            <h2>Olvidaste la Contraseña?</h2>
            </div>
            <label for="inputEmail4" class="form-label">Ingresa tu  direccion correo para restablecer tu contraseña</label>
            <input type="email" class="form-control" id="recuemail" name="recuemail">
            <button class="btn btn-primary" type="submit" onclick="showAlert">Enviar</button>
            <% if(errorMessage) { %> 
            <script>
                showAlert("<%= errorMessage %>");
            </script>
        <% }else if(Message){ %>
            <script>
                showAlertSuccessfull("<%= Message %>");
            </script>
        <% } %>
            <span> <a class="redirection" href="/login">Regresar para Iniciar Sesion</a></span>
        </div>
    </form>
</body>
</html>