<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-Password</title>
    <%-include('partials/sweetalert2.ejs')%>
    <style>
        body, html {
            height: 100%;
            width: 100%;
        }
        body{
            background: rgb(247,214,151);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container{
            height: 250px;
            width: 550px;
            text-align: center;
            background-color: #ffffff; /* Color de fondo */
            border-radius: 10px; /* Radio de borde */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
            & button{
                margin-top: 10px;
            }
            & input{
                width: 500px;
                margin: 0 auto;
            }
            & h2{
                padding-top: 30px;
            }
        }
    </style>
    <script>
        function showAlert(errorMessage) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: errorMessage,
                    footer: '<a href="#">Necesitas ayuda con el problema?</a>'});
        }

        function showAlertSuccessfull(Message){
            Swal.fire({
                    icon: "success",
                    title: "Correo de restablecimiento enviado",
                    text: Message,
                    footer: '<a href="/#">Necesitas ayuda con el problema?</a>',
             }).then((result) => {
                    if (result.isConfirmed) {
                    window.location.href = "/login";
                    }
            });
        }
    </script>
</head>
<body>
    <form action="/forgot-password" method="post">
        <div class="container">
            <h2>Recupera tu Cuenta</h2>
            <label for="inputEmail4" class="form-label">Ingresa tu correo</label>
            <input type="email" class="form-control" id="recuemail" name="recuemail">
            <button class="btn btn-primary" type="submit" onclick="showAlert">Enviar</button>
            <% if(errorMessage) { %> 
            <script>
                showAlert("<%= errorMessage %>");
            </script>
        <% }else if(Message){ %>
            <script>
                showAlertSuccessfull("<%= Message %>");
            </script>
        <% } %>
        </div>
    </form>
</body>
</html>