<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-Password</title>
</head>
<%-include('partials/sweetalert2.ejs')%>
<link rel="stylesheet" href="/css/forgot-password.css">
    <style>    
    .swal2-popup.custom-swal-bg {
            background-color: rgba(255,234,193,1); /* Cambia este color al que desees */
            border-color: #5d5d5d; /* Cambia este color al que desees para el borde */
            color: #5b5b5b; /* Cambia este color al que desees para el texto */
    }
    </style>
    <script>
        function showAlert(errorMessage) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: errorMessage,
                footer: '<a href="#">Necesitas ayuda con el problema?</a>',
                customClass: {
                    popup: 'custom-swal-bg' // Aplica la clase personalizada para el fondo de la alerta
                },
                confirmButtonColor: '#905835'
            });
        }

        function showAlertSuccessfull(Message){
            Swal.fire({
                    icon: "success",
                    title: "Correo de restablecimiento enviado",
                    text: Message,
                    footer: '<a href="/#">Necesitas ayuda con el problema?</a>',
                    customClass: {
                    popup: 'custom-swal-bg' // Aplica la clase personalizada para el fondo de la alerta
                },
                confirmButtonColor: '#905835'
             }).then((result) => {
                    if (result.isConfirmed) {
                    window.location.href = "/login";
                    }
            });
        }
    </script>
<body>
    <form action="/forgot-password" method="post">
        <div class="container">
            <div class="container-img">
            <img src="/img/—Pngtree—steaming coffee cup silhouette_5658659.png" alt="">
            <h2>Olvidaste la Contraseña?</h2>
            </div>
            <label for="inputEmail4" class="form-label">Ingresa tu  direccion correo para restablecer tu contraseña</label>
            <input type="email" class="form-control" id="recuemail" name="recuemail">
            <button class="btn btn-primary" type="submit" onclick="showAlert">Enviar</button>
            <% if(errorMessage) { %> 
            <script>
                showAlert("<%= errorMessage %>");
            </script>
        <% }else if(Message){ %>
            <script>
                showAlertSuccessfull("<%= Message %>");
            </script>
        <% } %>
            <span> <a class="redirection" href="/login">Regresar para Iniciar Sesion</a></span>
        </div>
    </form>
</body>
</html>