<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="GrandGusto/css/login.css">
    <title>GrandGusto Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>

    <div class="home">
        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" width="20" viewBox="0 0 320 512">
                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
    </div>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="regis" action="/logincompleto" method="post">
                <h1>Crear Cuenta</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>o usa tu email para registrarte</span>
                <input id="nombre" type="text" name="nombre" placeholder="Nombre" required>
                <input id="email" type="email" name="email" placeholder="Email" required>
                <input id="pass" type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Regístrate</button>
                <% if(errorMessage) { %>
                    <div style="margin-top: 10px; font-size: 10px;" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
            </form>
        </div>
        
        <div class="form-container sign-in">
            <form action="logincompleto" method="post">
                <h1>Inicio de Sesión</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>o usa la contraseña de tu email</span>
                <input type="email" name="loginemail" placeholder="Email" required>
                <input type="password" name="loginpassword" placeholder="Contraseña" required>
                <a href="#">Olvidaste tu Contraseña?</a>
                <button id="logses" type="submit">Iniciar Sesión</button>
                <% if(errorMessage) { %>
                    <div style="margin-top: 10px; font-size: 10px;" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido de Vuelta!</h1>
                    <p>Introduzca sus datos personales para utilizar todas las funciones del sitio web</p>
                    <button class="hidden" id="login">Iniciar Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bienvenido a GrandGusto!</h1>
                    <p>Regístrese con sus datos personales para utilizar todas las funciones del sitio web</p>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
        container.classList.add("active");
    });
    
    loginBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });
    
    const homeBtn = document.querySelector('.home');
    
    homeBtn.addEventListener( 'click' , ()=>{
        window.location.href = '../index.html';
    });
    
    </script>
</body>

</html>