<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetería - Registro de Gastos</title>
    <link rel="stylesheet" href="/css/styles_admin.css">
</head>
<body>
    <%-include('partials/menu.ejs')%>
<div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
    
            <div class="font-weight">
                <h2>Registro de Gastos de la Cafetería</h2>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAASdJREFUSEvtllEOgyAMhovZPWQ3UbN7DG/W3WNRbzLcORZZwGlQJyJ288W+GvvRUv7+DHYKthMXZsEi4wIA+OaDRVDhXVbjPBOwSDiHSJUk0J6mEItnbsOn4DQugUGyudJhAolFfXaDs1gRQ9t0EUvtlg8qFheeQGPaTB9EYAnAbu3p1NVrHkjACios61Rjhe9MHGB7ipzDFTHTWhMvkFhJaVqtB9KOueEMbTUWtZe8irnnGArW79AurHuTRulOlrRSVzxo5zHVPtoefMcj0d9HuUKUnKji9egD7JBMa/Wt7+zkjwawk1n9zWEEWI6FRALk1xRDcGv0Hp8FPzFolIf4l9lzey6z5n5ibxfMXtfKFt5b3O2mXid2DRflHS7l8lruS0lCvr8BcIHtHzIwXtkAAAAASUVORK5CYII="/>
             </div>

            <div class="user">
                <img src="/img/image.png" alt="">
            </div>
        </div>

    <div class="content">
    <form id="form-action"">
    <div>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
    </div>
    <div>
        <label for="codigo">Codigo:</label>
        <input type="text" id="codigo" name="codigo" required placeholder="Codigo de Barras">
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required placeholder="Descripcion">
    </div>
    <div>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required placeholder="Cantidad">
    </div>
    <div>
        <label for="monto">Monto:</label>
        <input type="number" id="monto" name="monto" step="0.01" required placeholder="Costo">
    </div>
    <div>
        <button type="submit">Agregar Gasto</button>
    </div>
    </form>
    </div>



    <div class="search">
        <h3>Busqueda</h3>
        <label>
            <input id="searchInput" type="date" placeholder="Busqueda por fecha">
            <ion-icon name="search-outline"></ion-icon>
        </label>
        <button class="all">Factura Completa</button>
    </div>

    <div class="table-container">
    <table id="product-table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>$ Monto</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody id="table-page"></tbody>
    </table>
    </div>
    <div class="style-bills">
        <span>Gasto Total del Dia:</span>
        <p id="all-outlay"></p> 
    </div>
</div>
</body>
<script type="module" src="/js/script-seal.js"></script>
<%-include('partials/scripts-sidebar.ejs')%>
</html>
