br{
    color: black;
}
a{
    color:  rgb(255, 144, 144);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

    body, html {
        height: 100%;
        width: 100%;
    }
    body{
        background:  rgba(255,234,193,1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container{
        padding: 60px;
        color: #a1896d;
        width: 550px;
        text-align: center;
        background-color: #FFEAC1; 
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        & button{
            margin-top: 10px;
        }
        & input{
            border-color: rgb(170, 153, 108);     
            background-color: #FFEAC1;
            width: 420px;
            margin: 30px auto;
        }
        & h2{
            color: black;
            padding-top: 30px;
        }
        & .btn{
            color: rgb(225, 224, 224);
            width: 100px;
            background-color: #905835;
            border-color: #905835;
        }
        & span{
            color: #a1896d;
            margin-top: 10px;
        }
        & .container-img img{
            height: 100px;
        }
        
    .redirection{
        text-decoration: none;
        color: #a1896d;
    }
    .redirection:hover{
        color: white;
    }
    }